* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 760px;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/subtle_white_feathers.png");
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px; 
    padding-top: 60px;
}

.row {
    display: flow-root;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

a {
    outline-color: transparent;
    text-decoration: solid underline black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    background: none;
}

a:hover {
    text-decoration: none;
    background: linen;
}

a:active {
    text-decoration: none;
    background: none;
}

.navigation {
    text-align: center;
    width: 100%;
}

a.scroll-top {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    color: transparent;
    background-color: transparent;
    text-decoration: none;
    display: flex inline;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    width: 75px;
    height: 75px;
    padding: 3px;
    border-radius: 50%;
}

a.scroll-top:hover {
    background-color: lightsteelblue;
    color: black;
}

.button-1,
.button-2,
.button-3,
.button-4,
.button-5,
.button-6 {
    border: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    display: flex inline;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button-1 {
    background-color: mediumseagreen;
    padding: 7px;
}

.button-2 {
    background-color: goldenrod;
    padding: 3px;
}

.button-3 {
    background-color: darkturquoise;
    padding: 20px;
}

.button-4 {
    background-color: lightcoral;
    padding: 20px;
}

.button-5 {
    background-color: plum;
    padding: 5px;
}

.button-6 {
    background-color: mediumslateblue;
    padding: 18px;
}

header {
    text-align: center;
    width: 100%;
}

.headshot-container {
  float: left;
  text-align: center;
  margin-right: 16px;
}

.headshot {
  border-radius: 50%;
  filter: grayscale(100%);
  max-width: 260px; 
  width: 100%;
}

.headshot:hover {
    filter: none;
}

.headshot-container .contact address {
  font-style: normal;
  line-height: 1.4;
  margin: 10px;
}

address {
    font-style: normal;
    text-align: left;
}

.about-me {
    text-align: justify;
    text-wrap: pretty;
    margin: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

h4 {
    font-size: 19px;
    font-variant: small-caps;
    margin: 5px;
}

.education, 
.experience, 
.awards, 
.skills, 
.references {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.reference::first-line {
    font: bold 17px'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

footer {
    text-align: center;
}

#socials {
    margin-top: 50px;
}

#socials a {
    width: 15%;
    display: inline-block;
    background: none;
}

#socials img {
    max-height: 50px;
    max-width: 50px;
}

